fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
celery[redis]
requests
pytz
joblib
scikit-learn
pandas
mlflow
bcrypt
passlib[bcrypt]
python-jose[cryptography]
python-multipart
fastapi-cache2[redis]
